input[type="password"]{
    text-align: center;
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
}

input[type="password"]::placeholder {
    color: #008B47;
    text-align: center;
}

input[type="password"]:hover::placeholder {
    color: black;
}

input[type="password"] {
    text-align: center;
}

.password-container {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    color: #008B47;
    margin-left: 0;
}

.fa-eye-slash, .fa-eye {
    color:#008B47;
    cursor: pointer;
}

/* The message box is shown when the user clicks on the password field */
#password-message {
    /*display:none;*/
    background: black;
    color: #008B47;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  #password-message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: #008B47;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: ' \2713';
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: white;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: ' \0078';
  }