body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1, .title-animation{
    width: auto;
    flex-shrink: 0;
    color: black;
}

h2 {
    text-align: center;
}

input[type="text"]::placeholder {
    color: #008B47;
}

input[type="text"]:hover::placeholder {
    color: black;
}

input[type="email"]::placeholder {
    color: #008B47;
}

input[type="email"]:hover::placeholder {
    color: black;
}

#loginName, 
#loginPassword, 
#loginEmail,
#firstName, 
#lastName,
#searchInput
{
    color: black;
}

.terms-conditions {
    display: flex;
    align-items: center;
    vertical-align: bottom;
    margin-bottom: 10px;
}

.checkbox:active {
    background-color: black;
    color: #008B47;
}

.header{
    background-color: #008B47;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.search-bar {
    position: relative;
    display: flex;
    align-items: top;
    border: 1px solid #008B47;
    border-radius: 5px;
    padding: 5px;
    background-color: black;
}


.search-bar input[type="text"]{
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px; 
}

.wrapper {
    background-color: #008B47;
    color: black;
    width: 60%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form {
    background-color: #008B47;
    color: black;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: none; /* Hidden by default */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 101;
}

#popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    width: 300px; /* Adjust width as needed */
}

#bar{
    width: 100%;
}

#form-text {
    color: black;
}

.form-group {
    background-color: rgb(205, 169, 52);
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    border-radius: 5px;
}

.login-user, .login-pass{
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 12px;
    padding-right: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 460px;
    margin-left: 0;
    border: none;

}

.login-pass {
    margin:0 0 0 0;
    border: none;
    padding-top: 0;
    padding-right: 0px;
    padding-bottom: 0;
    display: inline-flex;
    flex: 1;
}

.login-label {
    flex-shrink: 0;
    margin-right: 0px;
    height: 43px;
    width: 50px;
    align-items: center;
    background-color: black;
    color: #008B47;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 10px 0 0 10px;
}

.card-title {
    text-align: center;
    font-size: 14;
}

a.link, #termsLink {
    color: black;
    align-self: center;
}

a.link:hover, #termsLink:hover {
    color: white;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Adjust as needed (e.g., 80%, 60%, or a fixed pixel value) */
    max-width: 600px; /* Optional: Set a maximum width */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: Add a shadow */
    border-radius: 5px; /* Optional: Rounded corners */
  }
  
  #confirmDelete {
      background-color: #4CAF50; /* Green */
      color: white;
  }
  
  #cancelDelete {
      background-color: #f44336; /* Red */
      color: white;
  }
/* Style the buttons inside the modal */
.modal-content button {
    margin: 10px; /* Add some spacing around buttons */
    padding: 8px 16px; /* Adjust padding as needed */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#confirmDelete {
    background-color: #4CAF50; /* Green */
    color: white;
}

#cancelDelete {
    background-color: #f44336; /* Red */
    color: white;
}

.close {
    color: #008B47;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: top;
}

.close:hover,
.close:focus, .modal-content:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.error-message {
    display: none;
    color: white;
}

input[type="checkbox"] {
    /*border: solid;
    border-width: 2px;
    border-color: black;*/
}

input[type="checkbox"]:checked {
    background-color: black;
}

#title 
{
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #008B47;
}

#loginDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#loginResult {
    color: pink;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}
.buttonContainer {
    display: flex;
    justify-content: center; /* Center buttons in the table */
    align-items: center;
    row-gap: 10px; /* Space between buttons */
}
.buttonContainer button {
    background-color: whitesmoke !important;
    border: 1px solid black;
    border-radius: 5px;
    width: 40px; 
    height: 40px;
    cursor: pointer;
    border-color: white;
    transition: 0.3s;
}
.buttonContainer button:hover {
    color: black;
}
.deleteButton {
    color: red !important;
    margin-right: 10px;
}
.editButton {
    color: blue;
}
.saveButton {
    color: green;
}

#loginButton, #registerButton, 
#searchButton, #logoutButton, 
#addButton, #deletebutton{

    background-color: black;
    color: #008B47;
    border-color: white;
    transition: 0.5s;
}

#loginButton:hover, #registerButton:hover, 
#searchButton:hover,#logoutButton:hover, 
#addButton:hover, #deleteButton:hover, 
#openAddContactButton:hover, #openSearchButton:hover {
    background-color: white;
    color: #008B47;
    border: solid;
    border-color: white;
}

#loginButton:active, #registerButton:active, 
#searchButton:active, #logoutButton:active, 
#addButton:active, #deleteButton:active, 
#searchButton:active, #openAddContactButton:active {
    opacity: 0.7;
}

#addButton {
    display: flex;
    justify-content: center;
}

#searchButton, #openAddContactButton {
    background-color: #008B47;
    color: black;
    transition: 0.3s;
    border-color: black;
}

.col-md-12{
    flex: 1;
    justify-content: space-between;
}

body { 
    background-image: url(https://img.freepik.com/free-vector/minimalist-background-gradient-design-style_483537-2988.jpg); 
    /*background-image: url();*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    transition: background-color 1s ease;
} /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */

.container{
    justify-content: center;
    align-items: center;
}

input {
    font-family: sans-serif;                
}

.submitButton{
    align-self: center;
}

#loginName
{
	font-size: 20px;
}

#firstName
{
	font-size: 20px;
}

#lastName
{
	font-size: 20px;
}

#loginPassword
{
	font-size: 20px;
}
#searchText
{
	font-size: 20px;
}
#colorText
{
	font-size: 20px;
}

input[type="text"]{
    text-align: center;
    display: inline-block;
    /*width: 100%;*/
}

input[type="email"]{
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.incorrect::before {
    color: pink;
}

.mb-2incorrect input {
    border-color: pink;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #008B47;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #008B47;
}